<div class="tabs ">
  <header class="hero">
    <div class="min-h-screen bg-green-700 p-4">
      <div class="max-w-4xl mx-auto">
        <div class="relative">
         
          <mat-tab-group class="w-full bg-white rounded-lg p-6 shadow-lg">
            <mat-tab label="Vols">
              <app-vols></app-vols>
            </mat-tab>
            <mat-tab label="Airports">
              <app-airpots-manage></app-airpots-manage>
            </mat-tab>
            <mat-tab label="Airlines">
              <app-airlines-manage></app-airlines-manage>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </div>
  </header>
</div>
