<div class="container-center">
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form >
            <div data-mdb-input-init class="form-outline">
                <input [(ngModel)]="user.email" type="email" id="typeEmail" class="form-control my-3"   [ngModelOptions]="{standalone: true}" />
                <label class="form-label" for="typeEmail">Email input</label>
            </div>
            <button type="button" data-mdb-ripple-init class="btn btn-primary w-100" (click)="send()">Reset password</button>
            <div style="color: red;">
                {{invaliform}}
            </div>
        </form>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="#">Login</a>
                <a class="" href="#">Register</a>
            </div>
        </div>
    </div>
</div>