<h2 mat-dialog-title>Ajouter un Vol</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" class="grid-container">
    
    <mat-form-field class="form-field">
      <mat-label>De</mat-label>
      <input matInput [(ngModel)]="flight.from" name="from" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Vers</mat-label>
      <input matInput [(ngModel)]="flight.to" name="to" required>
    </mat-form-field>

    <mat-form-field class="form-field full-width">
      <mat-label>Prix</mat-label>
      <input matInput [(ngModel)]="flight.price" name="price" type="number" required>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="isDirect" name="isDirect">Vol direct</mat-checkbox>

    <mat-form-field class="form-field full-width">
      <mat-label>Société de transport</mat-label>
      <input matInput [(ngModel)]="flight.transportCompany" name="transportCompany" required>
    </mat-form-field>

    <mat-form-field class="form-field full-width">
      <mat-label>Description du voyage</mat-label>
      <textarea matInput [(ngModel)]="flight.description" name="description" required></textarea>
    </mat-form-field>

    <mat-form-field class="form-field full-width">
      <mat-label>Classe de voyage</mat-label>
      <mat-select [(ngModel)]="flight.travelClass" name="travelClass" required>
        <mat-option value="economique">Économique</mat-option>
        <mat-option value="affaires">Affaires</mat-option>
        <mat-option value="premiere">Première classe</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Calendrier de départ -->
    <mat-form-field class="form-field full-width">
      <mat-label>Date de départ</mat-label>
      <input matInput [matDatepicker]="departureDatePicker" [(ngModel)]="flight.departureTime" name="departureTime" required>
      <mat-datepicker #departureDatePicker></mat-datepicker>
    </mat-form-field>


    <div class="grid-container">
      <button mat-raised-button color="primary" type="submit">Ajouter</button>
      <button mat-raised-button (click)="onClose()" type="button">Annuler</button>
    </div>
  </form>
</mat-dialog-content>
