<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>flight_takeoff</mat-icon>
      Recherche des vols
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid-container">
      
      <mat-form-field class="form-field">
        <mat-label>Ville de départ</mat-label>
        <mat-select [(ngModel)]="volSearchCriteria.depart" name="villeDepart" required>
          <mat-option *ngFor="let airport of airports" [value]="airport">{{ airport.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Ville d'arrivée -->
      <mat-form-field class="form-field">
        <mat-label>Ville d'arrivée</mat-label>
        <mat-select [(ngModel)]="volSearchCriteria.arrivee" name="villeArrivee" required>
          <mat-option *ngFor="let airport of airports" [value]="airport">{{ airport.name }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="grid-container">
      <mat-form-field class="form-field">
        <mat-label>Date de départ</mat-label>
        <input [(ngModel)]="volSearchCriteria.dateDepart" matInput type="date" />
      </mat-form-field>
    </div>

    

    

    <div class="grid-container">
      <mat-form-field class="form-field">
        <mat-label>Classe</mat-label>
        <mat-select [(ngModel)]="volSearchCriteria.class">
          <mat-option value="">Tous</mat-option>
          <mat-option value="economy">Économique</mat-option>
          <mat-option value="business">Affaires</mat-option>
          <mat-option value="first">Première</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Passagers</mat-label>
        <input [(ngModel)]="volSearchCriteria.passage" matInput type="number" />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="search()" class="full-width">
      Rechercher des volSearchCriteria
    </button>
  </mat-card-content>
</mat-card>
