<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <!-- Form section -->
            <div class="col-lg-12">
              <div class="card cascading-right bg-body-tertiary" style="backdrop-filter: blur(30px);">
                
                <div class="card-body p-5 shadow-5 text-center">
                  <h2 class="fw-bold mb-5" style="color:black">Sign up now</h2>

                  <form *ngIf="!verificationSent" (ngSubmit)="submit()">
                    <!-- Nom -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example6" class="form-control" [(ngModel)]="user.nom" [ngModelOptions]="{standalone: true}" required />
                      <label class="form-label" for="form3Example6">Full Name</label>
                    </div>
                  
                    <!-- Email -->
                    <div class="form-outline mb-4">
                      <input type="email" id="form3Example3" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" required />
                      <label class="form-label" for="form3Example3">Email address</label>
                    </div>
                  
                    <!-- Password -->
                    <div class="form-outline mb-4">
                      <input type="password" id="form3Example4" class="form-control" [(ngModel)]="user.mot_de_passe" [ngModelOptions]="{standalone: true}" required (input)="checkPasswordMatch()" />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                  
                    <!-- Confirmation du mot de passe -->
                    <div class="form-outline mb-4">
                      <input type="password" id="form3Example4Confirm" class="form-control" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" required (input)="checkPasswordMatch()" />
                      <label class="form-label" for="form3Example4Confirm">Confirm Password</label>
                    </div>
                  
                    <!-- Message d'erreur pour la correspondance des mots de passe -->
                    <div *ngIf="!passwordsMatch" class="text-danger mb-3">
                      Passwords do not match.
                    </div>
                  
                    <!-- Date de naissance -->
                    <div class="form-outline mb-4">
                      <input type="date" id="form3Example7" class="form-control" [(ngModel)]="user.date_naissance" [ngModelOptions]="{standalone: true}" required (change)="validateDateOfBirth()" />
                      <label class="form-label" for="form3Example7">Date of Birth</label>
                    </div>
                  
                    <!-- Message d'erreur pour l'âge -->
                    <div *ngIf="!validAge" class="text-danger mb-3">
                      You must be at least 18 years old.
                    </div>
                  
                    <!-- Téléphone -->
                    <div class="form-outline mb-4">
                      <input type="tel" id="form3Example5" class="form-control" [(ngModel)]="user.telephone" [ngModelOptions]="{standalone: true}" required />
                      <label class="form-label" for="form3Example5">Phone Number</label>
                    </div>
                  
                    <!-- Adresse -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example6" class="form-control" [(ngModel)]="user.adresse" [ngModelOptions]="{standalone: true}" required />
                      <label class="form-label" for="form3Example6">Address</label>
                    </div>
                  
                    <!-- Bouton -->
                    <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!formValid()">Sign up</button>
                    <div class="error mb-3">{{ Validform }}</div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
