<div *ngFor="let passage of passagesArray; let i = index">
    <mat-card class="w-full max-w-2xl">
      <mat-card-header class="space-y-1">
        <div class="flex items-center gap-2">
          <mat-card-title class="text-xl">Ajoutez le passager {{ i + 1 }}</mat-card-title>
          <mat-icon class="w-5 h-5 text-muted-foreground">info</mat-icon>
        </div>
      </mat-card-header>
    
      <mat-card-content>
        <form [formGroup]="getPassengerForm(i)" (ngSubmit)="onSubmit()" class="space-y-6">
          <!-- RadioGroup for M. or Mme -->
          <div class="flex gap-4">
            <div class="flex items-center space-x-2">
              <mat-radio-group formControlName="title" class="flex gap-4">
                <mat-radio-button value="m">M.</mat-radio-button>
                <mat-radio-button value="mme">Mme</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
    
          <!-- Firstname and Lastname Inputs -->
          <div class="grid gap-4 md:grid-cols-2">
            <div class="space-y-2">
              <mat-label for="firstname">Prénom</mat-label>
              <input matInput formControlName="firstName" id="firstname" placeholder="Prénom" />
            </div>
            <div class="space-y-2">
              <mat-label for="lastname">Nom</mat-label>
              <input matInput formControlName="lastName" id="lastname" placeholder="Nom" />
            </div>
          </div>
    
          <!-- Day, Month, Year Select Inputs -->
          <div class="grid gap-4 md:grid-cols-3">
            <!-- Day Select -->
            <div class="space-y-2">
              <mat-label for="day">Jour</mat-label>
              <mat-select formControlName="day">
                <mat-option *ngFor="let day of days" [value]="day">{{ day | number:'2.0' }}</mat-option>
              </mat-select>
            </div>
    
            <!-- Month Select -->
            <div class="space-y-2">
              <mat-label for="month">Mois</mat-label>
              <mat-select formControlName="month">
                <mat-option *ngFor="let month of months; let i = index" [value]="i + 1">
                  {{ month }}
                </mat-option>
              </mat-select>
            </div>
    
            <!-- Year Select -->
            <div class="space-y-2">
              <mat-label for="year">Année</mat-label>
              <mat-select formControlName="year">
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
              </mat-select>
            </div>
          </div>
    
          <div class="mt-4">
            <button mat-button type="submit" [disabled]="!getPassengerForm(i).valid">Soumettre</button>
          </div>


        </form>
      </mat-card-content>
    </mat-card>
  </div>
  